a {
    text-decoration: none;
    color: inherit;
    outline: 0;
}

#anchors {
    display: flex;
    justify-content: space-evenly;
}

table {
    margin: auto;
  }
  
th {
    text-transform: uppercase;
}

nav {
    box-shadow: 0 0 10px;
}