@import url("background.css");

a {
    text-decoration: none;
    color: inherit;
    outline: 0;
}

#anchors {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.table {
    width: 90%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    border-radius: var(--bs-border-radius);
    overflow: hidden;
    box-shadow: 0 0 10px; 
    margin-top: 40px;
}
  
th {
    text-transform: uppercase;
    background-color: #faf0dc !important;
}

.input-group {
    width: 90%;
    margin: auto;
}

.box-sh{
    box-shadow: 0 0 10px; 
}

.btn-weather {
    margin-top: 100px;
    box-shadow: 0 0 10px;
    border-radius: var(--bs-border-radius);
}

.h-40 {
    height: 40px !important;
}

#alert-message {
    width: 90%; 
    margin: auto; 
}
